
<div class="container">

    <form [formGroup]="cadastroForm" class="form-inline d-flex flex-column align-items-center w-25 justify-content-center">

        <input formControlName="usuarioNome" class="form-control mr-sm-2" type="UsuarioName" placeholder="nome" aria-label="nome">
        <input formControlName="usuarioSenha" class="form-control mr-sm-2" type="UsuarioSenha" placeholder="senha" aria-label="senha">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>
</div>

