
<div class="container">
    <div class="col centered">
        <div class="row-lg-2 centered">
            <span>
            <!-- [formGroup] = "cadastroForm"   é uma Property binding  (designa o valor cadastroForm advindo do TypeScript como o conteúdo de formGroup)-->
            <form [formGroup]="cadastroForm" class="form">

                <input formControlName="usuarioNome" class="form-control mr-sm-2" type="UsuarioName" placeholder="nome" aria-label="nome">
                <input formControlName="usuarioSenha" class="form-control mr-sm-2" type="UsuarioSenha" placeholder="senha" aria-label="senha">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0" (click)="submit()">Enviar</button> 
        
            </form>
            </span>
        </div>
    </div>
</div>

